body {
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  background: #111;
}

fieldset {
  padding: 0;
  border: none;
  margin: 0;
}
label,
legend {
  display: block;
  color: #ccc;
  margin: 1rem 0 0.5rem;
}
label:first-child {
  margin-top: 0;
}
fieldset {
  margin-top: 1rem;
}
input[type="range"] {
  width: 100%;
}
input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 2px solid white;
  display: inline-block;
  margin-right: 0.3rem;
}
input[type="color"]:last-child {
  margin-right: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
hr {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: none;
  background: #666;
}
form button {
  cursor: pointer;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.select-image-prompt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}
.select-image-prompt form {
  border: 2px solid #aaa;
  background: #333;
  padding: 1rem;
  border-radius: 6px;
}

.pattern-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pattern-preview {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.pattern-controls {
  width: 360px;
  padding: 1rem;
  box-sizing: border-box;
  background: #222;
}

.input-pattern-group label {
  width: 60px;
  height: 60px;
  position: relative;
  box-sizing: border-box;
  line-height: 60px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.input-pattern-group input,
.input-pattern-group .pattern-text {
  position: relative;
  z-index: 1;
}
.input-pattern-group input {
  visibility: hidden;
}
.input-pattern-group .pattern-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-repeat: repeat;
  z-index: 0;
  box-sizing: border-box;
}
.input-pattern-group input:checked ~ .pattern-bg {
  border: 2px solid white;
}

.checkbox-group {
  margin-top: 1rem;
}
.checkbox-group label {
  display: inline-block;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.svg-container {
  display: none;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
}
.svg-positioner {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}
.svg-container svg {
  position: absolute;
  top: 0;
  left: 0;

}

.loading {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.loading p {
  display: inline-block;
  font-size: 2.4rem;
}
.cube-grid {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.cube-grid .cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.cube-grid .cube1 { animation-delay: 0.2s; }
.cube-grid .cube2 { animation-delay: 0.3s; }
.cube-grid .cube3 { animation-delay: 0.4s; }
.cube-grid .cube4 { animation-delay: 0.1s; }
.cube-grid .cube5 { animation-delay: 0.2s; }
.cube-grid .cube6 { animation-delay: 0.3s; }
.cube-grid .cube7 { animation-delay: 0s; }
.cube-grid .cube8 { animation-delay: 0.1s; }
.cube-grid .cube9 { animation-delay: 0.2s; }
@keyframes cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  }
}

.app.start-state .select-image-prompt {
  display: flex;
}
.app.loading-state .pattern-container,
.app.loaded-state .pattern-container {
  display: flex;
}
.app.loading-state .loading {
  display: flex;
}
.app.loaded-state .svg-container {
  display: flex;
}
